@model TravSystem.Models.TPlanet

@{
    ViewData["Title"] = "Edit Planet";
}

<h1>Edit</h1>

<h4>TPlanet</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="TSubSectorId" class="control-label"></label>
                <input asp-for="TSubSectorId" class="form-control" />
                <span asp-validation-for="TSubSectorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TPlanetId" class="control-label"></label>
                <input asp-for="TPlanetId" class="form-control" />
                <span asp-validation-for="TPlanetId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Orbit" class="control-label"></label>
                <input asp-for="Orbit" class="form-control" />
                <span asp-validation-for="Orbit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TStarportId" class="control-label"></label>
                <input asp-for="TStarportId" class="form-control" />
                <span asp-validation-for="TStarportId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Size" class="control-label"></label>
                <input asp-for="Size" class="form-control" />
                <span asp-validation-for="Size" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TAtmosphereId" class="control-label">Atmosphere</label>
                <select asp-for="TAtmosphereId" class="form-control" asp-items="ViewBag.Atmospheres"></select>
                <span asp-validation-for="TAtmosphereId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hydrographics" class="control-label"></label>
                <input asp-for="Hydrographics" class="form-control" />
                <span asp-validation-for="Hydrographics" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Population" class="control-label"></label>
                <input asp-for="Population" class="form-control" />
                <span asp-validation-for="Population" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TGovernmentId" class="control-label"></label>
                <select asp-for="TGovernmentId" class="form-control" asp-items="@(new SelectList(((IEnumerable<dynamic>)ViewBag.Governments).Select(a => new { Id = a.Id, Name = $"{a.HexCode} {a.Name}" }), "Id", "Name"))"></select>
                <span asp-validation-for="TGovernmentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TLawLevelId" class="control-label"></label>
                <input asp-for="TLawLevelId" class="form-control" />
                <span asp-validation-for="TLawLevelId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TechLevel" class="control-label"></label>
                <input asp-for="TechLevel" class="form-control" />
                <span asp-validation-for="TechLevel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
