@model TravSystem.Models.TStellarZones

@{
    // List of BAMKGF star types
    var starTypes = new[] { "B0", "B5", "A0", "A5", "F0", "F5", "G0", "G5", "K0", "K5", " M0", "M5", "M9" };
}

<div class="form-row d-flex align-items-center mb-2">
    <div class="col-auto">
        <label asp-for="StarType" class="sr-only">Star Type</label>
        <select asp-for="StarType" class="form-control" style="min-width: 90px;">
            <option value="">Select Star Type</option>
            @foreach (var type in starTypes)
            {
                <option value="@type" selected="@(Model.StarType == type ? "selected" : null)">
                    @type
                </option>
            }
        </select>
    </div>
    <div class="col-auto">
        <label asp-for="Zone" class="sr-only">Zone</label>
        <input asp-for="Zone" class="form-control" placeholder="Zone (I/H/O)" style="min-width: 90px;" />
    </div>
    <div class="col-auto">
        <label asp-for="Orbit" class="sr-only">Orbit</label>
        <input asp-for="Orbit" class="form-control" placeholder="Orbit" style="min-width: 90px;" />
    </div>
</div>
<span asp-validation-for="StarType" class="text-danger"></span>
<span asp-validation-for="Zone" class="text-danger"></span>
<span asp-validation-for="Orbit" class="text-danger"></span>