@model TravSystem.Models.TCapturedAndEmpty

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Capturned and Empty Orbits</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DieRoll" class="control-label"></label>
                <input asp-for="DieRoll" class="form-control" />
                <span asp-validation-for="DieRoll" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Captures" /> @Html.DisplayNameFor(model => model.Captures)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="CapturedQty" class="control-label"></label>
                <input asp-for="CapturedQty" class="form-control" />
                <span asp-validation-for="CapturedQty" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="EmptyOrbits" /> @Html.DisplayNameFor(model => model.EmptyOrbits)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="EmptyOrbitsQty" class="control-label"></label>
                <input asp-for="EmptyOrbitsQty" class="form-control" />
                <span asp-validation-for="EmptyOrbitsQty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
